@charset "utf-8";
/* CSS Document */
*html,body{
background-image:url(about:blank);    /*用浏览器空白页面作为背景*/
background-attachment:fixed; /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/
}


body{ background-color:#EEEEEE;}

.link-blue a{ color:#06C;}
.link-blue a:hover{ color:#F60; text-decoration:underline;}
.link-white a{ color:#FFF;}
.link-white a:hover{ color:#F90; text-decoration:underline;}

/*
-----header-----
*/
.header{ box-shadow:0 0 8px rgba(0,0,0,0.5); min-width:1000px;}
.topbar{ height:30px; line-height:30px; background-color:#FFF; color:#404040; border-bottom:1px solid #DDD;}
.welcome{ float:left;}
.qq-login{ float:right;}
.sign{ height:120px; background-color:#F6F6F6;}
.logo{ float:left; margin-top:25px;}

/*搜索*/
.search-widget{ float:right;}

.select-widget{ position:relative; z-index:10; float:left; width:109px; border-right:1px solid #E5E5E5;}
.select-widget .select-txt{ position:relative; height:36px; line-height:36px; width:99px; padding-right:10px; cursor:pointer; text-align:center; background-color:#FAFAFA; color:#666; font-weight:normal; font-size:14px;}
.select-widget .select-txt i{ position:absolute; right:8px; top:16px; width:0; height:0; text-indent:0; line-height:0; font-size:0; border-width:4px; border-color:#7C7C7C transparent transparent transparent; border-style:solid dashed dashed dashed;}
.select-widget .select-list{ display:none; background-color:#FFF; position:absolute; left:0; top:35px; z-index:10; width:108px; border:1px solid #EFEFEF; border-bottom:0;}
.select-widget .select-list li{ height:30px; line-height:30px; border-bottom:1px solid #EFEFEF; text-align:center; color:#777; cursor:pointer;}
.select-widget .select-list li:hover{ background-color:#F5F5F5; color:#666;}
.show .select-list{ display:block;}
.show .select-txt i{ top:12px; border-color:transparent transparent #7C7C7C  transparent; border-style:dashed dashed solid dashed;}

.search-form{ width:600px; height:36px; border:2px solid #FF8800;}
.search-form .search-form-txt{ float:left; width:384px; height:30px; padding:3px; background-color:#FFF; }
.search-form .search-form-txt input{ width:384px; border:0; background-color:transparent; height:30px; line-height:30px; color:#404040; font-size:16px;}
.search-form .search-form-btn{ float:left; width:100px; background-color:#FF8800; height:36px; line-height:36px; color:#FFF; border:0; font-size:16px;}
.hot-key{ height:30px; line-height:30px; font-size:12px; color:#404040;}
.hot-key a{ color:#666; margin:0 3px; text-decoration:none;}
.hot-key a:hover{ color:#F60;}

/*导航*/
.navbar{ height:40px; position:relative; background-color:#E50012; border-bottom:2px solid #BC000D; }
.navbar .aside-menu{ position:relative; z-index:10; width:200px; height:40px; float:left; background-color:#9B000C;}
.aside-menu h2{ height:40px; line-height:40px; color:#FFF; font-size:16px; font-weight:normal; text-align:center;}
.aside-menu-cont{  position:absolute; top:40px; height:520px; left:0; z-index:11; width:198px; border:1px solid #E2E2E2; border-top:0; background-color:#FFF; box-shadow:3px 0 3px rgba(0, 0, 0, 0.1)}
.aside-menu-list li{ padding:15px;}
.aside-menu-list li:nth-child(2n){ background-color:#F5F5F5;}
.aside-menu-area{ overflow:hidden; _zoom:1;}
.aside-menu-area dt{ position:relative; z-index:12; padding-left:25px; height:30px; line-height:30px; font-size:16px; font-weight:bold; padding-bottom:5px;}
.aside-menu-area dd a{ line-height:22px; float:left; margin-right:10px; font-size:12px; color:#666; white-space:nowrap;}
.aside-menu-area dd a:hover{ color:#F60;}
.main-nav{ height:40px;}
.main-nav ul li{ float:left; height:40px; line-height:40px; margin-right:10px;}
.main-nav ul li a{ display:block; padding:0 20px; font-size:16px; color:#FFF;}
.main-nav ul li a:hover{ background-color:#F00012}
.main-nav ul li.active{ background-color:#BC000D;}

.aside-menu2{ position:relative; padding:30px;}
.aside-menu2 h3{ font-size:18px; color:#000; margin:0 0 20px 0; border-left:3px solid #CA2625; text-indent:10px;}
.aside-menu2 ul{ padding-top:10px; border-top:1px solid #CCC; }
.aside-menu2 ul li{ height:20px; line-height:20px; padding:10px 0; font-size:16px;}
.aside-menu2 ul li.active a{ color:#CA2625;}

/*breadcrumb*/
.breadcrumb{ min-width:1000px; background-color:#FFF; height:40px; line-height:40px; border-bottom:1px solid #DDD; box-shadow:0 0 5px rgba(0,0,0,0.2); color:#404040; font-size:14px;}
.breadcrumb a{ color:#EB4F38; text-decoration:none;}
.breadcrumb a:hover{ color:#E50012;}


/*
-----container-----
*/
.banner-inner{ width:980px;}

/*banner*/
.banner { position:relative; z-index:5; width:790px;  height:350px; overflow:hidden; background-color:#FFF;}
.banner .pic{ position:relative; z-index:6;  width:790px; height:350px; overflow: hidden; }
.banner .pic img{ width:790px; height:350px; display:block;}
.banner .hd{ position:absolute; z-index:7; width:790px; text-align:center; bottom:10px; height:20px;  padding:0;}
.banner .hd li{ background:#FFF; height:12px; overflow: hidden; width:12px; font-size:0; cursor: pointer; display:inline-block; *display:inline; *zoom:1; margin-right:5px; border-radius:12px; box-shadow:1px 1px 3px rgba(0,0,0,0.5);}
.banner .hd li.on{ background-color:#F60;}
.banner .prev,.banner .next{ position:absolute; z-index:7; width: 40px; height: 65px; display: none; cursor:pointer;  top:50%; margin-top:-50px; background:url(../img/sprite.png) no-repeat;}
.banner .prev{ left:0; background-position:0 -285px; left:0;} 
.banner .next{ right:0; background-position:0 -415px; right:0;}

/*slide*/
.slide-box { position: relative; width:426px; height:640px; z-index:10; margin:0 auto; }
.slide-box .pic img { width:426px; height:640px; display: block; }
.slide-box .pic li{ position:relative; z-index:10; width:426px; height:640px;}
.slide-box i{ position:absolute; right:10px; top:10px; z-index:11; width:54px; height:54px; background:url(../imgs/icon-music.png) no-repeat 0 0;}
.slide-box i.playing{
		-moz-animation: rotataZ 1.2s linear infinite;
		-ms-animation: rotataZ 1.2s linear infinite;
		-webkit-animation: rotataZ 1.2s linear infinite;
		animation: rotataZ 1.2s linear infinite;
}

.slide-box .pageState { position:absolute; bottom:10px; left:50%; margin-left:-30px; color:#FFF; font-size:18px; z-index:11; text-align:center; background:url(../imgs/bgblack-opa70.png) repeat 0 0; width:80px; height:30px; line-height:30px; border-radius:5px;}
.slide-box .prev,.slide-box .next { width:80px; height:160px; position:absolute; top:50%; margin-top:-80px; z-index:11; filter:alpha(opacity=20); -moz-opacity:.2; opacity:.2; -webkit-transition:All .5s ease;-moz-transition:All .5s ease;-o-transition:All .5s ease}
.slide-box .prev{ background-image:url(../imgs/sprite.png); background-position:-150px -80px; left:-100px }
.slide-box .next{ background-image:url(../imgs/sprite.png); background-position:-150px -240px; right:-100px }
.slide-box .prev:hover,
.slide-box .next:hover { filter:alpha(opacity=60); -moz-opacity:.6; opacity:.6 }

/*slogan*/
.slogan{ width:100%; height:250px; background:url(../img/slogan.jpg) no-repeat center 0;}
.slogan2{ width:100%; height:150px; background:url(../img/slogan2.jpg) no-repeat center 0;}
.search-form-txt2{ position:relative; float:left; width:440px; height:50px; margin-right:20px; border-width:3px; border-style:solid; border-color:#666; border-color:rgba(0,0,0,0.2); border-radius:3px;}
.search-form-txt2 input{ display:block; width:395px; padding:10px 5px 10px 40px; background-color:#FFF; border:0; font-size:20px; height:30px; line-height:30px;}
.search-form-btn2{ float:left; width:120px; text-align:center; color:#FFF; font-size:20px; border-width:3px; border-style:solid; border-color:#666; border-color:rgba(0,0,0,0.2); border-radius:3px;}
.search-form-btn2 input{ width:120px; height:50px; line-height:50px; background-color:#EB4F38; border:0; color:#FFF; letter-spacing:5px;}
.search-form-btn2 input:hover{ background-color:#E9381F;}

/*滚动列表*/
.scroll-list{ position:relative; width:790px; z-index:5;}
.scroll-list .prev,.scroll-list .next{ position:absolute; width:20px; height:39px; top:50%; margin-top:-20px; z-index:6; background-image:url(../imgs/sprite.png); background-repeat:no-repeat; cursor:pointer;}
.scroll-list .prev{ background-position:-50px -220px; left:0;}
.scroll-list .next{ background-position:-87px -220px; right:0;}
.scroll-list .prev:hover{ background-position:-50px -264px;}
.scroll-list .next:hover{ background-position:-87px -264px;}
.scroll-list .bd{ width:718px;}
.scroll-list .bd .tempWrap{ width:100% !important;}
.scroll-list .bd ul li{ position:relative; z-index:5; float:left; width:170px; height:140px; border:1px solid #DDD; margin-right:10px;}
.scroll-list .img-wrap{ width:170px; height:140px;}
.scroll-list .img-wrap img{ width:170px; height:140px;}
.scroll-list .desc{ position:absolute; z-index:6; left:0; top:150px; width:150px; height:120px; background:url(../imgs/bgblack-opa70.png) repeat 0 0; padding:10px; color:#FFF;}



/*右侧边栏*/
.left-aside{ border:1px solid #E2E2E2; width:198px;}

.user-tabs{ height:40px;}
.user-tabs a{ float:left; width:98px; text-align:center; height:40px; line-height:40px; color:#333; font-size:14px;}
.user-tabs a:hover{ color:#F60; text-decoration:none;}

/*信息分类选项卡*/
.info-tabs{ height:26px; overflow:hidden;}
.info-tabs a{ float:left; width:50%; text-align:center; height:25px; line-height:25px;  border-bottom:1px solid #E7E7E7; color:#404040;}
.info-tabs a.active{ border-color:#F60; color:#F60;}
/*信息列表*/
.news-list{ line-height:25px;}
.news-list li{ height:25px; line-height:25px; border-bottom:1px dotted #CCC; background:url(../img/li-dot.gif) no-repeat 0 center; text-indent:10px;}

.service-box{ width:198px; margin:0 auto;}
.service-box .service-item{ float:left; width:98px; height:75px; border-right:1px solid #E2E2E2; border-top:1px solid #E2E2E2;  text-align:center; line-height:14px; padding-top:10px; background-color:#FFF;}
.service-box .service-item:hover{ background-color:#FAFAFA;}


/*客户案例*/
.destination-container{ background-color:#F5F5F5; width:199px; border:1px solid #E2E2E2;  border-right:0;}
.destination-container h3{ height:40px; line-height:40px; font-size:18px; text-indent:10px;}
.destination-tabs{ padding:10px;}
.destination-tabs a{ display:inline-block; *display:inline; *zoom:1; padding:2px 5px; margin-right:5px; white-space:nowrap; color:#666; border-radius:3px; margin-bottom:5px;}

.case-container{ width:799px;}
.case-table{ border:1px solid #E2E2E2;}
.case-table *{ border-color:#E2E2E2;}
.case-table .img-wrap{ float:left; width:105px; height:90px; } 
.case-table .desc{ width:125px; float:right; color:#999;}
.case-table tr td:hover{background-color:#F5F5F5}

.bg-abroad{ background:url(../img/bg-abroad.jpg) no-repeat left bottom #F5F5F5; }
.bg-abroad .destination-tabs a:hover{ color:#5DB5F4;}
.bg-abroad .destination-tabs a.active{ background-color:#5DB5F4; color:#FFF;}
.bg-hk{ background:url(../img/bg-hk.jpg) no-repeat left bottom #F5F5F5;}
.bg-hk .destination-tabs a:hover{ color:#EB4F38;}
.bg-hk .destination-tabs a.active{ background-color:#EB4F38; color:#FFF;}
.bg-china{ background:url(../img/bg-china.jpg) no-repeat left bottom #F5F5F5;}
.bg-china .destination-tabs a:hover{ color:#89C62E;}
.bg-china .destination-tabs a.active{ background-color:#89C62E; color:#FFF;}

/*无内容*/
.nothing{ padding:100px; line-height:30px; text-align:center; font-size:14px;}



/*
-----footer-----
*/
.footer{ background-color:#777777;}


.qr{ float:left; padding:5px; width:120px; height:120px;}
.foot-nav{ height:25px; line-height:25px; font-size:12px; color:#999; margin-bottom:5px;}
.foot-nav a{ color:#FFF;}
.foot-nav a:hover{ color:#F60; text-decoration:underline;}
.foot-nav span{ padding:0 10px;}
.footer .copy-right {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color:#2C2C2C;
	color: #999;
	border-top:1px solid #383838;
}

/*toolbar*/
.fixed-top{  position:fixed;  right:0; top:0; _position:absolute; _bottom:0; _top:expression(eval(document.documentElement.scrollTop));} /* IE6 头部固定 */
.fixed-bottom{ position:fixed;  right:0; bottom:0; _position:absolute;  _bottom:0; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}/* IE6 底部固定 */

.toolbar{ z-index:100; height:100%; width:40px;}


.qq-online{ position:absolute; top:50px; right:0; z-index:102; width:40px; border-bottom:1px solid #404040; margin-top:40px; background-color:#333;}
.qq-online .qq-online-item{ cursor:pointer;  padding:10px 0;}
.qq-online-item p{ width:20px; padding:0 10px; color:#999; text-align:center; font-size:14px; line-height:18px;}
.qq-online:hover .qq-online-item .icon40{ background-position:-40px 0;}
.qq-online:hover .qq-online-item p{ color:#E50113;}
.qq-online .qq-online-cont{ display:none; position:absolute; left:-200px; top:0; z-index:103; width:198px; border:1px solid #DDD; background-color:#FFF;} 
.qq-online:hover .qq-online-cont{ display:block;}

.backtop{ position:absolute; z-index:102; bottom:50px; right:0; width:40px; height:40px; background-color:#333; border-top:1px solid #404040;}

.toolbar .tool-inner{ height:100%; position:absolute; right:-0; top:0; z-index:101; background-color:#333;}
.tool-list{ margin-top:300px;}
.tool-item{ width:40px; height:40px; border-bottom:1px solid #404040;}
.tool-item a{ position:relative; display:block;  width:40px; height:40px;}
.tool-item .icon40{ position:absolute; right:0; top:0; z-index:101;}
.tool-item .desc{ display:none; position:absolute; left:-150px; top:0; z-index:101; width:90px; height:38px; line-height:38px;   font-size:14px; background-color:#FFF; color:#404040; text-align:center; border:1px solid #E2E2E2; border-left:2px solid #BC000D; border-right:0;}
.tool-item .desc i{
	z-index:102;
	position:absolute;
	right:-6px;
	top:50%;
	margin-top:-5px;
	width: 12px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	font-family: "\5b8b\4f53"; font-style:normal; color:#FFF;
}
.tool-item .pic-desc{
	width:148px; height:148px; border:1px solid #E2E2E2; left:-200px; top:50%; margin-top:-75px;
	}
.tool-item:hover .desc{ display:block; left:-92px;}
.tool-item:hover .pic-desc{ left:-150px;}

.tool-item:hover .icon40-word{ background-position:-40px -80px;}
.tool-item:hover .icon40-collect{ background-position:-40px -40px;}
.tool-item:hover .icon40-desk{ background-position:-40px -120px;}
.tool-item:hover .icon40-qr{ background-position:-40px -160px;}
.tool-item:hover .icon40-backtop{ background-position:-40px -200px;}


/*icon*/
.icon20,.icon30,.icon40{ background-image:url(../img/icon.png); background-repeat:no-repeat;}


.icon20{ display:inline-block; *display:inline; *zoom:1; width:20px; height:20px; vertical-align:-4px; margin-right:3px;}
.icon20-phone{ background-position:-140px 0;}
.icon20-adress{ background-position:-140px -20px;}
.icon20-login{ background-position:-140px -40px;}
.icon20-reg{ background-position:-140px -60px;}

.icon30{ display:inline-block; *display:inline; *zoom:1; width:30px; height:30px; vertical-align:middle;}
.icon30-list{ background-position:-80px -30px;}
.icon30-hot{ background-position:-80px -90px; position:absolute; left:-5px; top:0;}
.icon30-search{ background-position:-110px -90px; position:absolute; left:5px; top:10px;}

.icon30-abroad i{ background-position:-110px -30px; position:absolute; left:-5px; top:0;}.icon30-abroad{color:#5DB5F4;}
.icon30-hk i{ background-position:-110px -60px; position:absolute; left:-5px; top:0;}.icon30-hk{color:#EB4F38;}
.icon30-china i{ background-position:-80px -60px; position:absolute; left:-5px; top:0;} .icon30-china{color:#89C62E;}

.icon40{ width:40px; height:40px;}
.icon40-qq{ background-position:0 0;}
.icon40-word{ background-position:0 -80px;}
.icon40-collect{ background-position:0 -40px;}
.icon40-desk{ background-position:0 -120px;}
.icon40-qr{ background-position:0 -160px;}
.icon40-backtop{ background-position:0 -200px;}
.icon40-case{ background-position:0 -320px; display:inline-block; *display:inline; *zoom:1;}
.icon40-news{ background-position:-40px -320px; display:inline-block; *display:inline; *zoom:1;}
.icon40-wxc{ background-position:0 -360px; display:inline-block; *display:inline; *zoom:1;}
.icon40-xq{ background-position:-40px -360px; display:inline-block; *display:inline; *zoom:1;}

.colblue{ color:#5DB5F4;}.colgreen{ color:#89C62E;}.colred{ color:#EB4F38;}.colorange{ color:#F60;}

/*animtate*/
@-webkit-keyframes rotataZ{0%{ -moz-transform:rotateZ(0deg); -ms-transform:rotateZ(0deg); -webkit-transform:rotateZ(0deg); transform:rotateZ(0deg)}100%{-moz-transform:rotateZ(360deg); -ms-transform:rotateZ(360deg); -webkit-transform:rotateZ(360deg) ; transform:rotateZ(360deg)}}
